/*
Autor:DM
Año: 2023
*/

*{
    margin:0; 
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body{
    background-color: #0d0d0d;
}
header{
    z-index: 999;
    position: fixed;
    width:100%;
    overflow: hidden;
    margin-bottom: 20px;
    transition: 0.6s;
}


header nav a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 0px;
    padding: 10px 10px;
    line-height:normal;
    font-size: 15px;
    font-weight:lighter;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 30px;
}

header nav a:hover{
    background:#0e9df6;  
    color:#fff;
}
.title{
    margin-top:10px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.active{
    background:#0e9df6;  
}
.wrapper{
    width: 95%;
    max-width: 1900px;
    margin: auto;
    overflow: hidden;
}
.contenedor{ 
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 700px;
  width: 90%;
  background-size: cover;
  background-color: #1c1c1c;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 0 rgb(0, 0, 0,0.5);
}
.main{ 
    position: relative;
    padding-top: 150px;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .main img {
    display: block;
  }
  #welcome-text {
    font-size: 50px;
    color: #0e9df6;
    font-family: 'Courier New', Courier, monospace;

    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
  }
  #welcome-text span {
    font-family: 'Courier New', Courier, monospace;
  }
  @keyframes typing {
    from { width: 0 }
  }
  
  @keyframes blink {
    50% { border-color: transparent }
  }
 


 
 .contenedor1{ 
  position: relative;
  margin-top: 70px;
  margin-bottom: 50px;
  height: 500px;
  width: 90%;
  background-size: cover;
  background-color: #1c1c1c;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 0 rgb(0, 0, 0,0.5);

 }  

 h1{
    font-family: 'Courier New', Courier, monospace;
    
    font-weight: bold;
    color:#f9f9fa;
 }
 .contenedorgeneral {
  display: flex;
  margin-top: 10px;
}

.editorcontainer {
  margin-right: 10px;
}
.containerconsola textarea {
  border: none;
  border-radius: 5px;
}

#manuales {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#manuales h1 {
  text-align: center;
  width: 100%;
}

#manuales .links {
    display: flex;
    flex-direction: row;
    align-items: center;
  
}
  .manualstile {
    color: rgb(12, 125, 170);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 10px;
    width: 500px;
  }
  .manualstile.active {
    background-color: #0e9df6;
    color: #e2eaf0;
  }
  
  .manualstile:hover {
    color: #e2eaf0;
    background-color: #0e9df6;
  }
#manuales .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reportes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reportes img {
    border-radius: 20px;
    max-width: 95%;
    max-height: 70%;
}
.offcanvas-title{
    font-size: 30px;
}
.offcanvas-body {
    display: flex;
    flex-direction: column;
}
/* Ancho del scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Color y radio de las esquinas del scrollbar */
::-webkit-scrollbar-thumb {
  background: rgb(29, 28, 28);
  border-radius: 5px;
}

/* Color del scrollbar al pasar el cursor por encima */
::-webkit-scrollbar-thumb:hover {
  background: rgb(131, 131, 131);
}

/* Color del scrollbar al hacer clic */
::-webkit-scrollbar-thumb:active {
  background: rgb(51, 50, 50);
}
.nav-item{
 display:flex;
}
footer{
    position:relative;
    width:100%;
    height: 100px;
    justify-content: center;
    display:flex;
    text-align: center;
    color: #fff;
    margin : 0;
    padding: 0;
    box-shadow: 1px 1px 10px 0 rgb(0, 0, 0,0.3);
}
.logofooter{
    margin-top: 10px;
}
.information{
    padding: 0px 80px;
    margin-top:30px;
    font-style: italic;
}


@media screen and (max-width: 850px){
    
    .logousac img{
        width: 300px;
    }
    h1{
        margin: 100px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 650px){
   
    .logousac {
        display:block;
    }
    
    .contenedor{
        height: 600px;
    }
}


.activetab{
  background-color:#1c1c1c00;
}
.btn-info {
  margin-right: 80px;
}
.tabs-container {
  display: flex;
  border-bottom: 1px solid #6b6b6b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.tab {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #363535;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  color:white;
  background-color: #55575c;
  margin-right: -5px;
}
/* Ocultar el botón de cerrar por defecto */
.tab .close {
  color: #55575c;
}

/* Mostrar el botón de cerrar solo cuando el cursor esté sobre la pestaña */
.tab:hover .close {
  color: #fff;
}
.tab.active{
  background:#0e9df6; 
  color: #fff;

}
/* Cambiar el color del botón de cerrar a azul cuando la pestaña esté activa */
.tab.active .close {
  color: #0e9df6;
}
.tab.active:hover .close {
  color:white;
}

.tab:last-child {
  border-bottom: 1px solid #985c5c;
  margin-right: 0;
}
#editor {
  position: relative;
}

.tab-content {
  padding: 20px;
  border: 1px solid #4b4a4a;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 444px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.CodeMirror {
  text-align: left;
    height: 350px;
    width: 42.5vw;
  border-radius: 20px;
}

.CodeMirror-scroll {
  text-align: left;
}
.tab-content.active {
  position: static;
  z-index: auto;
}

.close {
  float: right;
  margin-left: 10px;
  cursor: pointer;
}

.add-tab {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #3b97a0;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  background-color: #373636;
  margin-right: -5px;
  color: #f5f0f0;
  font-size: 20px;
}

.add-tab:hover {
  color: #08e9fd;
  border: 2px solid #08e9fd;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}